
@font-face{
    font-family:Redressed;
    src: url("../fonts/Redressed/Redressed-Regular.ttf");
}


@font-face{
    font-family:Pirata_one;
    src: url("../fonts/Pirata_One/PirataOne-Regular.ttf");
}


@font-face{
    font-family:Anton;
    src: url("../fonts/Anton/Anton-Regular.ttf");
}


@font-face{
    font-family:Righteous;
    src: url("../fonts/Righteous/Righteous-Regular.ttf");
}


@font-face{
    font-family:Abril_fatface;
    src: url("../fonts/Abril_Fatface/AbrilFatface-Regular.ttf");
}


@font-face{
    font-family:Courgette;
    src: url("../fonts/Courgette/Courgette-Regular.ttf");
}


@font-face{
    font-family:Staatliches;
    src: url("../fonts/Staatliches/Staatliches-Regular.ttf");
}

